<div id="index">
    <!--占位-->
    <div class="header-1"></div>
    <div class="header">
        <span class="wchat">{{title}}</span>
        <span class="add"><img src="../common/add.png"></span>
        <span class="search"><img src="../common/search.png"></span>
    </div>
    <div class="main">
        <!--<span>-->
        <!--<img src="../common/QQ/1.jpg">-->
        <!--<p class="name">哈登</p>-->
        <!--<p class="lastmsg">真的吗？</p>-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/1.jpg">-->
        <!--<p class="name">哈登</p>-->
        <!--<p class="lastmsg">真的吗？</p>-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/1.jpg">-->
        <!--<p class="name">哈登</p>-->
        <!--<p class="lastmsg">真的吗？</p>-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/1.jpg">-->
        <!--<p class="name">哈登</p>-->
        <!--<p class="lastmsg">真的吗？</p>-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/2.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/3.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/4.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/5.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/6.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/7.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/8.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/9.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/1.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/2.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        <!--<span>-->
        <!--<img src="../common/QQ/3.jpg">-->
        <!--<i>删除</i>-->
        <!--</span>-->
        sss
    </div>
    <!--占位-->
    <div class="footer-1"></div>
    <div class="footer">
        <span class="message">
            <img src="../common/message.png">
            <p>{{message}}</p>
        </span>
        <span class="contacts">
            <img src="../common/contacts.png">
            <p>{{contacts}}</p>
        </span>
        <span class="find">
            <img src="../common/find-g.png">
            <p>{{find}}</p>
        </span>
        <span class="my">
            <img src="../common/my.png">
            <p>{{my}}</p>
        </span>
    </div>
</div>
