<div id="index">
    <!--占位-->
    <div class="header-1"></div>
    <div class="header">
        <a href="javascript:history.go(-1)"><img class="back" src="back.png"></a>
        <span class="chatname">扫一扫</span>
        <img class="info" src="setting.png">
    </div>
    <div class="main">
asfasfsafs
        <input file="file" accept="image/*;capture=camera">
    </div>
    <!--占位-->
    <div class="footer-1"></div>
    <div class="footer">
        <span class="message">
            <img src="../common/message.png">
            <p>{{message}}</p>
        </span>
        <span class="contacts">
            <img src="../common/contacts.png">
            <p>{{contacts}}</p>
        </span>
        <span class="find">
            <img src="../common/find-g.png">
            <p>{{find}}</p>
        </span>
        <span class="my">
            <img src="../common/my.png">
            <p>{{my}}</p>
        </span>
    </div>
</div>
<style>
    .back{
        margin-top: 1.4rem;
        width: 6rem;
        float: left;
        margin-left: 3rem;
    }
    .chatname{
        display: block;
        border-left: 2px solid #2c2b30;
        float: left;
        color: #fffeff;
        padding-left: 2rem;
        margin-left: 2rem;
    }
    .info{
        width: 6rem;
        float: right;
        margin-top: 1.4rem;
        margin-right: 3rem;
    }
</style>
