<div id="index">
    <!--占位-->
    <div class="header-1"></div>
    <div class="header">
        <a href="javascript:history.go(-1)"><img class="back" src="back.png"></a>
        <span class="chatname">{{chatId}}</span>
        <img class="info" src="info.png">
    </div>
    <div class="main">
        <!--<div class="line1">-->
            <!--<img class="other" src="../common/QQ/5.jpg">-->
            <!--<div class="arr"></div>-->
            <!--<p class="chatblock">asafsa</p>-->
        <!--</div>-->

        <!--<div class="line2">-->
            <!--<img class="other" src="../common/QQ/5.jpg">-->
            <!--<div class="arr"></div>-->
            <!--<p class="chatblock">sasdsafasdsadasdasdadasdasdasdasdasasdsa</p>-->
        <!--</div>-->
    </div>
    <!--占位-->
    <div class="footer-1"></div>
    <div class="footer">
        <img class="voice" src="voice.png">
        <input class="word" type="text">
        <img class="emjoy" src="emjoy.png">
        <img class="add" src="add.png">
    </div>
</div>
<style>
    .main{
        padding-bottom: 2rem;
        background: #ebebeb;
        min-height: 125rem;
    }
    .header{
        display: block;
        width: 100%;
        height: 8.8rem;
        background: #3a393e;
    }
    .back{
        margin-top: 1.4rem;
        width: 6rem;
        float: left;
        margin-left: 3rem;
    }
    .chatname{
        display: block;
        border-left: 2px solid #2c2b30;
        float: left;
        color: #fffeff;
        padding-left: 2rem;
        margin-left: 2rem;
    }
    .info{
        width: 6rem;
        float: right;
        margin-top: 1.4rem;
        margin-right: 3rem;
    }
    .voice{
        width: 6.8rem;
        height: 6.8rem;
        margin-left: 3rem;
        margin-top: 1.5rem;
    }
    .word{
        margin-left: 3rem;
        margin-top: 2rem;
        font-size: 5rem;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 2px solid #d9d9d9;
        height: 5.8rem;
        background: #fcfcfc;
    }
    .emjoy{
        margin-left: 4rem;
        margin-top: 1.5rem;
        width: 6.8rem;
        height: 6.8rem;
        float: right;
    }
    .add{
        margin-left: 4rem;
        margin-top: 1.5rem;
        width: 6.8rem;
        float: right;
        height: 6.8rem;
    }
    .line1{
        margin-bottom: 2rem;
        overflow: hidden;
    }
    .line1 .other{
        margin-left: 2rem;
        margin-top:2rem;
        width: 12rem;
        height: 12rem;
        float:left;
    }
    .line1 .arr{
        margin-left: -1.5rem;
        float:left;
        margin-top:5rem;
        display: inline-block;
        width: 0;
        height: 0;
        font-size: 0;
        border: solid 2rem;
        border-color: rgba(0,0,0,0) #fcfcfc rgba(0,0,0,0) rgba(0,0,0,0);
    }
    .line1 .chatblock{
        margin-top: 2rem;
        word-break:break-word;
        padding: 2rem;
        display: inline-block;
        max-width: 40rem;
        background: #fcfcfc;
        min-height: 10rem;
        float:left;
        border-radius: 3rem;
        font-size: 8rem;
        text-indent: 1rem;
    }
    .line2{
        margin-bottom: 2rem;
        overflow: hidden;
    }
    .line2 .other{
        margin-top: 2rem;
        width: 12rem;
        height: 12rem;
        float: right;
        margin-right: 2rem;
    }
    .line2 .arr{
        margin-right: -1.5rem;
        float: right;
        margin-top: 5rem;
        display: inline-block;
        width: 0;
        height: 0;
        font-size: 0;
        border: solid 2rem;
        border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #9fe658;
    }
    .line2 .chatblock{
        margin-top: 2rem;
        word-break:break-word;
        padding: 2rem;
        display: inline-block;
        max-width: 40rem;
        background: #9fe658;
        min-height: 10rem;
        float:right;
        border-radius: 3rem;
        font-size: 8rem;
        text-indent: 1rem;
    }
</style>
