<div id="index">
    <!--占位-->
    <div class="header-1"></div>
    <div class="header">
        <span class="wchat">{{title}}</span>
        <span class="add"><img src="../common/add.png"></span>
        <span class="search"><img src="../common/search.png"></span>
    </div>
    <div class="main">
        <span>
            <img src="../common/QQ/1.jpg">
            <p class="name">哈登</p>
            <p class="lastmsg">真的吗？351561561</p>
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/1.jpg">
            <p class="name">哈登</p>
            <p class="lastmsg">真的吗？</p>
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/1.jpg">
            <p class="name">哈登</p>
            <p class="lastmsg">真的吗？事实上</p>
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/1.jpg">
            <p class="name">哈登</p>
            <p class="lastmsg">真的吗？sssss</p>
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/2.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/3.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/4.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/5.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/6.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/7.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/8.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/9.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/1.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/2.jpg">
            <i>删除</i>
        </span>
        <span>
            <img src="../common/QQ/3.jpg">
            <i>删除</i>
        </span>
    </div>
    <!--占位-->
    <div class="footer-1"></div>
    <div class="footer">
        <span class="message">
            <img src="../common/message-g.png">
            <p>{{message}}</p>
        </span>
        <span class="contacts">
            <img src="../common/contacts.png">
            <p>{{contacts}}</p>
        </span>
        <span class="find">
            <img src="../common/find.png">
            <p>{{find}}</p>
        </span>
        <span class="my">
            <img src="../common/my.png">
            <p>{{my}}</p>
        </span>
    </div>
</div>
<style>
    .main{
        width: 100%;
        max-height: 127rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main>span{
        position: relative;
        border: 1px solid #d6d6d6;
        display: block;
        width: 100%;
        height: 15.875rem;
        background: #ffffff;
    }
    .main span img{
        margin-top: 2rem;
        margin-left: 2rem;
        width: 12rem;
        height: 12rem;
    }
    .main span p.lastmsg{
        position: absolute;
        /* margin-left: 3rem; */
        font-size: 4rem;
        display: inline-block;
        color: #9a9a9a;
        left: 17rem;
        top: 10rem;

    }
    .main span p.name{
        display: inline-block;
        vertical-align: top;
        margin-left: 3rem;
        font-size: 5rem;
        color: black;
        margin-top: 3rem;
    }
    .main span i{
        position: absolute;
        width:15rem;
        height:16rem;
        line-height:16rem;
        font-size:5rem;
        background-color:red;
        color:#fff;
        right:-15rem;
        top:0;
        text-align:center;
    }
    .left{
        left: -15rem;
    }
</style>
