<div id="index">
    <!--占位-->
    <div class="header-1"></div>
    <div class="header">
        <span class="wchat">{{title}}</span>
        <span class="add"><img src="../common/add.png"></span>
        <span class="search"><img src="../common/search.png"></span>
    </div>
    <div class="main">
        <div class="slidebar">
            <span class="A">A</span>
            <span class="B">B</span>
            <span class="C">C</span>
            <span class="D">D</span>
            <span class="E">E</span>
            <span class="F">F</span>
            <span class="G">G</span>
            <span class="H">H</span>
            <span class="I">I</span>
            <span class="G">J</span>
            <span class="K">K</span>
            <span class="L">L</span>
            <span class="M">M</span>
            <span class="N">N</span>
            <span class="O">O</span>
            <span class="P">P</span>
            <span class="Q">Q</span>
            <span class="R">R</span>
            <span class="S">S</span>
            <span class="T">T</span>
            <span class="U">U</span>
            <span class="V">V</span>
            <span class="W">W</span>
            <span class="X">X</span>
            <span class="Y">Y</span>
            <span class="Z">Z</span>
        </div>
        <div class="cos">
            <span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span>
            <span class="GroupChats">
                <img src="GroupChats.png">
                <p>{{GroupChats}}</p>
            </span>
            <span class="Tags">
                <img src="Tags.png">
                <p>{{Tags}}</p>
            </span>
            <span class="OfficialAccounts">
                <img src="OfficialAccounts.png">
                <p>{{OfficialAccounts}}</p>
            </span>
        </div>
        <div class="cox toA">
            <p>A</p>
            <span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span>
        </div>
        <div class="cox toB">
            <p>B</p>
            <span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span><span class="RecommendedFriend">
                <img src="RecommendedFriend.png">
                <p>{{RecommendedFriend}}</p>
            </span>
        </div>
    </div>
    <!--占位-->
    <div class="footer-1"></div>
    <div class="footer">
        <span class="message">
            <img src="../common/message.png">
            <p>{{message}}</p>
        </span>
        <span class="contacts">
            <img src="../common/contacts-g.png">
            <p>{{contacts}}</p>
        </span>
        <span class="find">
            <img src="../common/find.png">
            <p>{{find}}</p>
        </span>
        <span class="my">
            <img src="../common/my.png">
            <p>{{my}}</p>
        </span>
    </div>
</div>
<style>
    .slidebar{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 4%;
        height: 85%;
        right: 0;
        top: 12rem;
    }
    .slidebar span{
        text-align: center;
        width: 100%;
        color: #4d4d4d;
        font-size: 4rem;
        flex-grow: 1;
    }
    .main {
        width: 100%;
        max-height: 127rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main .cos span{
        margin: auto;
        border-bottom: 1px solid #d6d6d6;
        position: relative;
        display: block;
        width: 90%;
        background: white;
        height: 12.875rem;
    }
    .main .cos span p{
        display: inline-block;
        font-size: 5rem;
        position: absolute;
        top: 5rem;
        left: 17rem;
    }
    .main .cos span img{
        margin-top: 2rem;
        width: 9rem;
        height: 9rem;
    }
    .main .cox>p{
        text-indent: 5rem;
        height: 5rem;
        color: #949494;
        display: block;
        background: #ebebeb;
        font-size: 4rem;
        line-height: 5rem;
    }
    .main .cox>span{
        margin: auto;
        border-bottom: 1px solid #d6d6d6;
        position: relative;
        display: block;
        width: 90%;
        background: white;
        height: 12.875rem;
    }
    .main .cox span p{
        display: inline-block;
        font-size: 5rem;
        position: absolute;
        top: 5rem;
        left: 17rem;
    }
    .main .cox span img{
        margin-top: 2rem;
        width: 9rem;
        height: 9rem;
    }
</style>
